<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zakriyaalisabir.studentregistrationapp">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/person"
        android:label="Student App"
        android:roundIcon="@drawable/person"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".QRScanner" />
        <activity android:name=".StudentProfile" />
        <activity android:name=".AdminLogin" />
        <activity android:name=".AdminAfterLogin" />
        <activity android:name=".StudentMenu" />
        <activity android:name=".MyCurrentCourses" />
        <activity android:name=".MyCoursesHistory" />
        <activity android:name=".AddNewStudent" />
        <activity android:name=".UpdateStudentInfo" />
        <activity android:name=".AddStudentCurrentCourses" />
        <activity android:name=".AddNewCoursesToDB" />
        <activity android:name=".AddStudentResult" />
        <activity android:name=".ChangePasswordForAdmin" />
        <activity android:name=".DeleteStudentCurrentCourses" />
        <activity android:name=".RemoveStudentFromDB" />
        <activity android:name=".ViewRegistrationRequests"></activity>
    </application>

</manifest>